#ads_edit_css { display: none; }

/* -------------- */
/* Edit ad - main */
/* -------------- */

.ads_edit_page_wrap1 {
}
.ads_edit_page_wrap2 {
}
.ads_edit_page_wrap3 {
  background-color: #F9F9F9;
  padding: 20px;
}

#ads_page .error {
  margin-bottom: 20px;
}

.ads_edit_panels_view {
  padding-top: 20px;
}
.ads_edit_panel_edit {
  width: 540px;
}
.ads_edit_panel_preview {
  padding-right: 50px;
}
.ads_edit_table {
  border: 0px;
  border-collapse: collapse;
}

.ads_edit_label,
.ads_edit_value {
  padding: 0 0 10px 0;
  vertical-align: top;
}

.ads_edit_label {
  width: 190px;
  text-align: right;
  padding-right: 10px;
  color: #666666;
}

.ads_edit_label_input_ui {
  padding-top: 8px;
}
@-moz-document url-prefix() {
.ads_edit_label_input_ui {
  padding-top: 7px;
}
}

.ads_edit_label_input {
  padding-top: 8px;
}
@-moz-document url-prefix() {
.ads_edit_label_input {
  padding-top: 7px;
}
}

.ads_edit_label_checkbox {
  padding-top: 3px;
}
@-moz-document url-prefix() {
.ads_edit_label_checkbox {
  padding-top: 2px;
}
}

.ads_edit_label_radiobutton {
  padding-top: 6px;
}

.ads_edit_label_textarea {
  padding-top: 8px;
}
@-moz-document url-prefix() {
.ads_edit_label_textarea {
}
  padding-top: 7px;
}

.ads_edit_value .text {
  width: 310px;
  height: 17px;
  line-height: 17px;
  padding: 5px 6px 6px 10px;
}
@-moz-document url-prefix() {
.ads_edit_value .text {
  padding-left: 9px;
  width: 311px;
}
}
.ads_edit_value .ads_edit_value_range .text {
  width: 142px;
}

.listing.ads_edit_help_listing {
  margin-bottom: 0;
}

.ads_edit_value_range_from,
.ads_edit_value_range_sep,
.ads_edit_value_range_to {
}

.ads_edit_value_range_sep {
  width: 10px;
}

.ads_edit_value_cost_type_wrap {
  height: 54px;
}
.ads_edit_value_format_type_wrap {
  min-height: 54px;
}

.ads_edit_value_checkbox_wrap {
  height: 20px
}
.ads_edit_value_checkbox_wrap2 {
  padding: 1px 0;
}
.ads_edit_value_checkbox_wrap3 {
  margin: -6px 0;
}

.ads_edit_value_tip {
  font-size: 0.9em;
  color: #777777;
  width: 250px;
  padding-top: 5px;
}

.ads_edit_separator_big {
  border-bottom: 1px solid #DAE2E8;
  height: 1px;
  margin: 10px 0 20px 0;
}

.ads_edit_value_header {
  color: #36638E;
  font-size: 1.18em;
  font-weight: bold;
  padding-bottom: 5px;
}

/* ---------------- */
/* Edit ad - common */
/* ---------------- */

.ads_edit_ad_row_header_radiobutton td {
  padding-bottom: 4px;
}
#ads_edit_ad_row_targeting_header td,
#ads_edit_ad_row_targeting_header .ads_edit_value_header {
  padding-bottom: 0;
}
#ads_edit_ad_row_view_header .ads_edit_value_header {
  padding-top: 10px;
}

.ads_param_title_remain_wrap,
.ads_param_description_remain_wrap,
#ads_targeting_criterion_tags_remain {
  font-size: 0.9em;
  color: #777777;
  padding-top: 6px;
}

#ads_param_category_more {
  font-size: 0.9em;
  padding-top: 6px;
}

/* ------------ */
/* Edit ad - ad */
/* ------------ */

.ads_edit_ad_view_wrap {
  text-align: center;
}

.ads_edit_panel_preview .ads_ad_box_border {
  border-width: 1px;
  background-color: white;
}

.ads_ad_play.empty {
  background-image: url(/images/ad_video_empty.png);
}
.is_2x .ads_ad_play.empty {
  background-image: url(/images/ad_video_empty_2x.png);
}

.ads_edit_ad_view_controls {
  padding-top: 5px;
}

/* ------------------ */
/* Edit ad - audience */
/* ------------------ */

#ads_edit_audience {
  padding: 20px;
  background-color: #EDF0F2;
  width: 160px;
}
#ads_edit_audience_title,
#ads_edit_recommended_cost_title {
  color: #36638E;
  font-size: 1.09em;
  font-weight: bold;
  padding-bottom: 5px;
}
#ads_edit_recommended_cost_title {
  padding-top: 15px;
}

#ads_edit_audience_title,
#ads_edit_audience_title_text {
  position: relative;
}
#ads_edit_audience_progress {
  display: none;
  position: absolute;
  top: 4px;
  right: 0;
}

/* -------------- */
/* Edit ad - view */
/* -------------- */

#ads_param_link_id_wrap,
#ads_param_link_url_wrap {
  padding-top: 10px;
}

#ads_param_title {
  height: 34px;
}
#ads_param_description {
  height: 68px;
}
#ads_param_title,
#ads_param_description {
  overflow: hidden;
  resize: none;
}

#ads_param_link_domain_progress_wrap {
  width: 1px;
}
#ads_param_link_domain_progress {
  padding: 11px 0 0 5px;
}

#ads_edit_ad_row_additional .ads_edit_value_checkbox_wrap {
  height: 26px;
}

#ads_edit_ad_row_upload_photo .ads_edit_value {
  padding-bottom: 13px;
}

/* ------------------ */
/* Edit ad - behavior */
/* ------------------ */

.ads_param_cost_per_click_currency_wrap {
  padding: 8px 0 0 10px;
}
@-moz-document url-prefix() {
.ads_param_cost_per_click_currency_wrap {
  padding-top: 7px;
}
}

.text#ads_param_cost_per_click {
  width: 50px;
}

#ads_param_cost_per_click_recommended {
  color: #777777;
  font-size: 0.9em;
  padding-top: 8px;
}

.ads_edit_value_campaign_type_wrap {
  padding-bottom: 10px;
}

#ads_param_campaign_name_wrap {
  min-height: 22px;
}

/* ------------------ */
/* Edit ad - controls */
/* ------------------ */

.ads_edit_value_terms {
  line-height: 160%;
}

#ads_edit_controls_row .button_blue {
  margin-right: 10px;
}

.ads_edit_cancel_link {
  padding: 5px 10px;
}

/* ------------------- */
/* Edit ad - targeting */
/* ------------------- */

.ads_edit_targeting_group_hider_title {
  color: #555555;
  font-size: 1.09em;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  margin-left: -21px;
}
.ads_edit_targeting_group_hider_title.on {
  background: url(/images/filterset_on.gif) no-repeat 1px 9px;
  background-size: 9px 7px;
}
.is_2x .ads_edit_targeting_group_hider_title.on {
  background-image: url(/images/filterset_on_2x.png);
}
.ads_edit_targeting_group_hider_title.off {
  background: url(/images/filterset_off.gif) no-repeat 2px 8px;
  background-size: 7px 9px;
}
.is_2x .ads_edit_targeting_group_hider_title.off {
  background-image: url(/images/filterset_off_2x.png);
}
.ads_edit_targeting_group_hider_info {
  color: #909090;
  cursor: pointer;
}
.ads_edit_value.ads_edit_targeting_group_hider {
  padding-top: 7px;
  padding-bottom: 12px;
}
#ads_edit_targeting_group_demography_hider.ads_edit_value.ads_edit_targeting_group_hider,
#ads_edit_targeting_group_graduation_hider.ads_edit_value.ads_edit_targeting_group_hider {
  padding-bottom: 6px;
}
#ads_edit_targeting_group_interests_hider.ads_edit_value.ads_edit_targeting_group_hider,
#ads_edit_targeting_group_additional_hider.ads_edit_value.ads_edit_targeting_group_hider {
  padding-top: 13px;
}
.ads_edit_targeting_group {
}

.ads_edit_value_birthday_today {
  padding-right: 5px;
}

#ads_edit_criterion_row_birthday .ads_edit_label,
#ads_edit_criterion_row_birthday .ads_edit_value {
  padding-bottom: 8px;
}

#ads_targeting_criterion_tags {
  height: 52px;
  min-height: 52px;
  resize: vertical;
}

/* -------- */
/* Tooltips */
/* -------- */

.ads_edit_tt.tt .tt_text {
  padding: 0;
}

.ads_edit_tt_text {
  padding: 10px;
  width: 281px;
  color: black;
  line-height: 150%;
}

.ads_edit_tt_pointer {
  background: url(/images/ddtooltip.png) no-repeat 0 0;
  background-size: 16px 11px;
  width: 8px;
  height: 11px;
  position: absolute;
  left: -7px;
  top: 38px;
  overflow: hidden;
  z-index: 10;
}
.is_2x .ads_edit_tt_pointer {
  background-image: url(/images/ddtooltip_2x.png);
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_category1_id {
  top: 24px;
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_views_limit_flag {
  top: 19px;
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_travellers {
  top: 36px;
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_positions {
  top: 24px;
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_pays_money {
  top: 24px;
}

.ads_edit_tt_pointer.ads_edit_tt_pointer_tags {
  top: 57px;
}

/* -------- */
/* Last ads */
/* -------- */

#ads_edit_last_ads_search {
  background: url(/images/magglass.png) no-repeat 5px 6px #FFFFFF;
  background-size: 11px 11px;
  padding: 5px 0 5px 21px;
  width: 100%;
}
.is_2x #ads_edit_last_ads_search {
  background-image: url(/images/magglass_2x.png);
}

.ads_edit_last_ads_search_wrap1 {
  padding: 10px;
  border-bottom: solid 1px #CAD0D6;
  background-color: #F7F7F7;
}

.ads_edit_last_ads_search_wrap2 {
  margin-right: 22px;
}

#ads_edit_last_ads_content {
  height: 400px;
  padding: 20px 0 0 20px;
  overflow-y: scroll;
}

#ads_edit_last_ads_no_result {
  display: none;
  padding-top: 150px;
  font-size: 1.09em;
  text-align: center;
  color: #777777;
}

.ads_edit_last_ads_ad_wrap {
  padding-right: 20px;
}

/* ------ */
/* Upload */
/* ------ */

.ads_edit_upload_uploader {
  text-align: center;
}

.ads_edit_upload_progress_wrap1 {
  width: 250px;
}

/* -------------- */
/* Upload - photo */
/* -------------- */

.ads_edit_upload_photo_box .error {
  margin-bottom: 8px;
}

/* ------------------- */
/* Upload - crop photo */
/* ------------------- */

.ads_edit_crop_photo_box .error {
  margin-bottom: 8px;
}

.ads_edit_crop_photo_box .info_msg {
  margin-bottom: 15px;
}

.ads_edit_crop_photo_ad {
  padding-left: 15px;
}

.ads_edit_crop_photo_ad .ads_ad_play {
  cursor: move;
}

#ads_edit_crop_photo_small_wrap {
  margin: 0 auto;
}

/* -------------- */
/* Upload - video */
/* -------------- */

.ads_edit_upload_video_box .error {
  margin-bottom: 10px;
}

#ads_edit_upload_video_info {
  margin-top: 15px;
}

#ads_edit_upload_video_external_wrap {
  padding: 0 30px;
}

#ads_edit_upload_video_external_link_wrap {
  margin-right: 12px;
}

#ads_edit_upload_video_external_link {
  padding: 5px;
  width: 100%;
}

#ads_edit_upload_video_external_error {
  padding-top: 5px;
  color: #777777;
}
