#ui_controls_css {
  display: none;
}

.selector_container,
.checkbox_container {
  zoom: 1;
}
.selector_container {
  background: #FFFFFF;
}
.selector_container table.selector_table {
  width: 100%;
  z-index: 0;
  border: 1px solid #C0CAD5;
  margin: 0;
}
.selector_container table td {
  vertical-align: middle;
}

/* Selector: .selector */

.selector_container td.selector {
  border: none;
  padding: 2px 0 0 2px;
  height: 1%;
  overflow: hidden;
  position: relative;
}
.big.selector_container td.selector {
  padding: 3px 0 0 3px;
}

.selector_container td.selector:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.selector_container td.selector .placeholder_wrap1 {
  width: 0;
  height: 0;
  position: relative;
}
.selector_container td.selector .placeholder_wrap2 {
  position: absolute;
  left: 3px;
  top: 2px;
}
@-moz-document url-prefix() {
.selector_container td.selector .placeholder_wrap2 {
  top: 1px;
  left: 4px;
}
}
.big.selector_container td.selector .placeholder_wrap2 {
  left: 7px;
  top: 4px;
}
@-moz-document url-prefix() {
.big.selector_container td.selector .placeholder_wrap2 {
  top: 3px;
}
}
.selector_container td.selector .placeholder_content {
  white-space: nowrap;
}
.selector_container td.selector .placeholder_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.selector_container td.selector input {
  position: relative;
  background: transparent;
  float: left;
  width: 100px;
  outline: none;
  font: 11px tahoma,verdana,arial,sans-serif;
  line-height: 1.09em;
  border: none;
  margin: 0 0 1px 0;

  *height: 16px !important; /* IE7 */
  height: 15px;
  padding: 1px 0 1px 3px !important;
  padding: 2px 0 0 4px;
}
.big.selector_container td.selector input {
  padding: 3px 0 1px 7px !important;
  padding: 4px 0 0 8px;
  margin-bottom: 6px;
}
@-moz-document url-prefix() {
.big.selector_container td.selector input {
  padding-left: 6px !important;
}
}
.dropdown_container.selector_container td.selector input {
  cursor: default;
}
.selector_container td.selector input.ph { /* placeholder with color: #afb8c2; - looks bad when not alone */
  color: #afb8c2;
}
.selector_container td.selector input.selected,
.selector_container td.selector input.focused {
  color: #000000;
}

/* Selector: .selector .token */

.selector_container td.selector .token {
  font-size: 1em;
  line-height: 1em;
  color: #000000;
  cursor: default;
  background: #DAE2E8;
  display: block;
  white-space: nowrap;
  float: left;
  margin: 0;
  border: solid #FFF;
  border-width: 0 2px 2px 0;

  padding: 2px 2px 3px 4px !important;
  padding: 1px 2px 2px 4px; /* IE6 */
  *padding: 1px 2px 2px 4px !important; /* IE7 */
}
.big.selector_container td.selector .token {
  border-width: 0;
  margin: 0 3px 3px 0;
  border-radius: 2px;
  padding: 5px 3px 6px 7px !important;
  padding: 4px 3px 5px 7px; /* IE6 */
  *padding: 4px 3px 5px 7px !important; /* IE7 */
}
.selector_container td.selector .token_hover {
  background: #587DA1;
  color: #FFFFFF;
}
.selector_container td.selector .token_selected {
  background: #2A5883;
  color: #FFFFFF;
}
.selector_container td.selector .token span.x,
.selector_container td.selector .token span.x_hover {
  background: url(/images/tag_remove.png) center no-repeat;
  background-size: 8px 8px;
  display: inline-block;
  width: 16px;
  height: 8px !important;
  cursor: pointer;
  vertical-align: top;
  padding: 0;
  margin: 2px 0 0 2px !important;

  *margin-top: 3px !important; /* IE7 */
  margin: 0; /* IE6 */
}
.is_2x .selector_container td.selector .token span.x,
.is_2x .selector_container td.selector .token span.x_hover {
  background-image: url(/images/tag_remove_2x.png);
}

/* Selector: .selector_dropdown */

.selector_container td.selector_dropdown {
  z-index: 0;
  width: 16px;
  cursor: default;
  background: url(/images/darr_dd_out.gif) transparent no-repeat center;
  border: none;
  border-left: 1px solid #FFFFFF;
  padding: 0;
}
.big.selector_container td.selector_dropdown {
  width: 25px;
  background: url(/images/wide_dd.gif) transparent no-repeat 2px 2px;
}
.big.selector_container td.selector_dropdown:hover {
  cursor: pointer;
}

.selector_focused.selector_container td.selector_dropdown {
  background-color: #E1E8ED;
  border-left: 1px solid #D2DBE0;
}
.big.selector_focused.selector_container td.selector_dropdown {
  background-color: transparent;
  border-left-color: transparent;
}

/* Selector: .disabled */

.disabled.selector_container {
  background: #F5F5F5;
}
.disabled.selector_container table.selector_table {
  border-color: #CACACA;
}
.disabled.selector_container td.selector input {
  color: #777777;
}
.disabled.selector_container td.selector .token {
  color: #777777;
  background: #E7E7E7;
}
.disabled.selector_container .selector_dropdown {
  background: url(/images/darr_dd_disabled.gif) no-repeat center;
  border-left-color: transparent;
}

/* Autocompleter */

.selector_container .results_container {
  position: absolute;
  z-index: 100;
}

.selector_container .result_list_shadow {
  margin: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  border: 0;
  z-index: 100;
  height: 2px;
  display: none;
}
.selector_container .result_list_shadow.reverse {
  visibility: hidden;
}

.selector_container .result_list_shadow .shadow1,
.selector_container .result_list_shadow .shadow2 {
  height: 1px;
  background-color: #000;
  opacity: 0.12;
  filter: alpha(opacity=12);
  overflow: hidden;
}
.selector_container .result_list_shadow .shadow2 {
  opacity: 0.05;
  filter: alpha(opacity=5);
}

.selector_container .result_list {
  margin: -1px 0 0;
  position: absolute;
  opacity: 0.95;
  filter: alpha(opacity=95);
  left: 0;
  overflow-y: hidden;
  border: 1px solid #ADADAD;
  border-width: 1px 0 0;
  z-index: 100;
}

.selector_container .result_list_scrollable {
  border: 1px solid #ADADAD;
  border-width: 1px 0;
  overflow-y: scroll;
}
.selector_container .result_list_scrollable.reverse {
  border-top: 1px solid #CCC;
}

.selector_container .result_list ul {
  margin: 0;
  padding: 0;
  background: #FFF;
  position: relative;
  zoom: 1; /* negative margin IE fix */
}

.selector_container .result_list li.disabled {
  background: #eee;
  padding: 5px 5px 4px 6px;
  cursor: default;
  border: 1px solid #CCC;
  border-top: none;
  text-align: left;
}
.selector_container .result_list.reverse li.disabled {
  border-top: 1px solid #CCC;
}

.selector_container .result_list ul li {
  color: #000000;
  padding: 3px 0 3px 10px;
  list-style-type: none;
  border: 1px solid #CCC;
  border-width: 0 1px 1px 1px;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
  position: relative;
  margin: -1px 0 0 0;
  overflow: hidden;
  text-align: left;
  line-height: 1.18em;
  font-size: 1em;
}
.big.selector_container .result_list ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.selector_container .dividing_line ul li {
  border-bottom: 1px solid #CCC;
}

.selector_container .result_list ul li.first {
  border-top: 1px solid #CCC;
  padding-top: 3px;
}
.big.selector_container .result_list ul li.first {
  padding-top: 5px;
}
.selector_container .result_list ul li.last {
  border-bottom: 1px solid #ADADAD;
}
.selector_container .result_list ul li.active {
  background: #587DA1;
  color: #FFFFFF;
  border: 1px solid #2A5883;
  padding-top: 2px;
  z-index: 1;
}
.big.selector_container .result_list ul li.active {
  padding-top: 4px;
}
.selector_container .result_list ul li.first.active {
  padding-top: 2px;
  margin-top: 0;
}
.big.selector_container .result_list ul li.first.active {
  padding-top: 4px;
}

.selector_container .result_list_scrollable ul li.last {
  border-bottom: 0 solid #FFF;
  padding-bottom: 3px;
}
.big.selector_container .result_list_scrollable ul li.last {
  padding-bottom: 5px;
}
.selector_container .result_list_scrollable ul li.first.active {
  border-top: 1px solid #2A5883;
}
.selector_container .result_list_scrollable ul li.last.active {
  border-bottom: 1px solid #2A5883;
  padding-bottom: 2px;
}
.big.selector_container .result_list_scrollable ul li.last.active {
  padding-bottom: 4px;
}

.selector_container .result_list ul li span {
  display: block;
  padding-top: 2px;
  color: #777777;
  font-size: 7pt;
}
.big.selector_container .result_list ul li span {
  padding-top: 3px;
  font-size: 11px;
}
.selector_container .result_list ul li em {
  font-weight: bold;
  font-style: normal;
  background: #DAE2E8;
  color: #000000;
}
.selector_container .result_list ul li.active span {
  color: #AABBD4;
}
.selector_container .result_list ul li.active em {
  background: #2A5883;
  color: #FFFFFF;
}

/* Mobile selector fixes start */
.mobile_selector_container input {
  -webkit-appearance: none;
}
.mobile_selector_container .result_list {
  opacity: 1;
}
/* Mobile selector fixes end */

.checkbox_container,
.radiobtn_container {
  cursor: pointer;
}

.checkbox_container table,
.radiobtn_container table {
  width: 100%;
  z-index: 0;
  margin: 5px 0 5px 0;
}

.checkbox_container table td,
.radiobtn_container table td {
  vertical-align: middle;
}

.checkbox_container table td.checkbox {
  width: 20px;
  padding: 2px 0 0;
}

.checkbox_container table td.checkbox_label,
.radiobtn_container table td.radiobtn_label {
  line-height: 140%;
  padding: 0 0 0 3px;
  text-align: left;
}

.checkbox_container table td.checkbox_label {
  padding-top: 1px;
}

.checkbox_container table td .checkbox_on,
.checkbox_container table td .checkbox_off,
.checkbox_container table td .checkbox_on_over,
.checkbox_container table td .checkbox_off_over {
  height: 14px;
  width: 15px;
  overflow: hidden;
  background: transparent url(/images/icons/check.gif?1) 0 0 no-repeat;
}

.checkbox_container table td .checkbox_on {
  background-position: 0 -14px;
}

.checkbox_container table td .checkbox_off_over {
  background-position: 0 -28px;
}

.checkbox_container table td .checkbox_on_over {
  background-position: 0 -42px;
}

.radiobtn_container table td.radiobtn {
  width: 20px;
  padding: 1px 0 0;
}

.radiobtn_container input {
  display: none;
}

.radiobtn_container table td .radiobtn_on,
.radiobtn_container table td .radiobtn_off,
.radiobtn_container table td .radiobtn_on_over,
.radiobtn_container table td .radiobtn_off_over {
  height: 14px;
  width: 15px;
  overflow: hidden;
}

.radiobtn_container table td .radiobtn_on div,
.radiobtn_container table td .radiobtn_off div,
.radiobtn_container table td .radiobtn_on_over div,
.radiobtn_container table td .radiobtn_off_over div {
  width: 14px;
  height: 56px;
  background: transparent url(/images/icons/radio.png?1) 0 0 no-repeat;
  behavior: url(/js/iepngfix.htc);
}

.radiobtn_container table td .radiobtn_on div {
  margin-top: -14px;
}

.radiobtn_container table td .radiobtn_off_over div {
  margin-top: -28px;
}

.radiobtn_container table td .radiobtn_on_over div {
  margin-top: -42px;
}

/* Dropdown menu */
a.dd_menu_target:hover {
  text-decoration: none !important;
}
a.dd_link,
.pageBody a.dd_link {
  background: url(/images/flydead.gif) no-repeat right 1px;
  padding-right: 17px;
  font-weight: normal;
  text-decoration: none;
}

.dd_menu {
  position: absolute;
  z-index: 1500;
}
.dd_menu_header {
  border: 1px solid #3B6798;
  position: absolute;
  z-index: 1500;
  cursor: pointer;
  _margin-left: 1px;
}
.dd_menu_header div {
  border-color: #7E9CBC #5C82AB #6D8FB3;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  padding: 2px 5px;
  white-space: nowrap;
  padding-right: 17px;
  line-height: 1.27em;
  *line-height: 1.18em;
  *padding-right: 16px;
  background: #6D8FB3 url(/images/flydead.gif) no-repeat right -15px;
  *background-position: -14px right;
}
.dd_menu_header.leftArrow div {
  background: #6D8FB3 url(/images/flydead.gif) no-repeat 1px -15px;
  padding-right: 5px;
  padding-left: 16px;
  *background-position: 14px left;
}
.dd_header_hover {
  border-color: #DAE1E8;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.dd_header_hover div {
  background: #DAE1E8 url(/images/flydead.gif) no-repeat right 3px;
  *background-position: 4px right;
  color: #2B587A;
  border-color: #DAE1E8;
}
x:-moz-any-link {
  padding-top: 1px;
}
.dd_menu_body {
  position: absolute;
  z-index: 1499;
  margin-left: -1px;
  _margin-left: 0;
}
.dd_menu_rows {
  border: 1px solid #96AABE;
  margin: 0;
  background: #FFFFFF;
  position: relative;
  z-index: 1499;
}
.dd_menu_rows a {
  background: #FFFFFF;
  display: block;
  line-height: 1.09em;
  padding: 4px 6px 0 6px;
  height: 18px;
  *height: 17px;
  white-space: nowrap;
  cursor: pointer;
  background-repeat: no-repeat;
}
.dd_menu_rows a:hover,
.dd_menu_rows a.dd_a_hover{
  background-color: #DAE2E8;
  text-decoration: none;
}
.dd_menu_rows2 {
  column-gap: 0;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.dd_menu_shad_l div,
.dd_menu_shad_r div {
  width: 1px
}
.dd_menu_shad_l {
  background: #000000;
  filter: alpha(opacity=6);
  opacity: 0.06;
  overflow: hidden;
  width: 1px;
}
.dd_menu_shad_b,
.dd_menu_shad_b2 {
  background: #000000;
  height: 2px;
  margin-top: -1px;
  filter: alpha(opacity=7);
  opacity: 0.07;
  overflow: hidden;
  position: relative;
  z-index: 148;
}
.dd_menu_shad_b2 {
  filter: alpha(opacity=5);
  opacity: 0.05;
}
.dd_menu_shad_r {
  background: #000000;
  filter: alpha(opacity=6);
  opacity: 0.06;
  overflow: hidden;
  width: 1px;
}

.checkbox_container.disabled {
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.checkbox_container.disabled td.checkbox div.checkbox_on_over {
  background-position: 0 -14px;
}
.checkbox_container.disabled td.checkbox div.checkbox_off_over {
  background-position: 0 0;
}


/* Dropdownmenu custom styles */
.dd_menu_checkable .dd_menu_rows a div {
  width: 20px;
  height: 20px;
  float: left;
}
.dd_menu_rows a img {
  float: left;
  visibility: hidden;
  margin-right: 3px;
}
.dd_menu_rows a.checked img {
  visibility: visible;
}


/* Inline edit styles */
.inlContainer {
  position: absolute;
  display: none;
  z-index: 10;
}
.inlFrame00,
.inlFrame01,
.inlFrame02,
.inlFrame10,
.inlFrame12,
.inlFrame20,
.inlFrame21,
.inlFrame22 {
  background: #c5ced7;
  opacity: 0.75;
  filter: alpha(opacity=75);
  width: 5px;
}
.inlFrame01,
.inlFrame21 {
  width: auto;
}
.inlFrame01 div,
.inlFrame21 div {
  height: 5px;
}
.inlContainer table {
  border: 0;
  border-collapse: collapse;
}
.inlContainer td {
  border: 0;
  padding: 0;
}
.inlMainTable td.inlContent {
  background: #F2F2F2;
  border: 1px solid #AAAAAA;
  padding: 7px;
}

.inlButtonOk,
.inlButtonCancel {
  width: 50%;
}

.inlContentTable .button_yes,
.inlContentTable .button_no {
  margin: 7px 0 0 0;
}
.inlContentTable .button_no {
  margin-left: 7px;
}

.inlInput {
  margin: 0;
}


div.box_dark .selector_container td.selector {
  padding: 5px 0 4px 6px;
}
div.box_dark .selector_container td.selector input {
  padding: 0 !important;
}
div.box_dark .selector_container td.selector_dropdown {
  width: 25px;
  background: #FFF url(/images/wide_dd.gif) no-repeat 2px 2px;
}
div.box_dark .selector_focused.selector_container td.selector_dropdown {
  border-left-color: transparent;
}

div.box_dark .selector_container .result_list ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
div.box_dark .selector_container .result_list ul li.first {
  padding-top: 5px;
}
div.box_dark .selector_container .result_list ul li.active {
  padding-top: 4px;
}
div.box_dark .selector_container .result_list ul li.first.active {
  padding-top: 4px;
}
div.box_dark .selector_container .result_list ul li span {
  padding-top: 3px;
  font-size: 11px;
}

.dd_dark .dd_menu_header div {
  background-color: #6D8FB3;
  border-color: #6D8FB3;
}
.dd_dark .dd_menu_header {
  border-color: #6D8FB3;
}
.dd_dark .dd_header_hover div {
  background-color: #DAE1E8;
  border-color: #DAE1E8;
}
.dd_dark .dd_header_hover {
  border-color: #DAE1E8;
}
